<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found - Aptivi</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">We've found nothing. Please press the back button on your web browser.</p>
        </LayoutView>
    </NotFound>
</Router>
