@inject NavigationManager NavManager

<div class="alert card-form mt-4">
    <span class="oi oi-chat me-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <br />
    <br />
    <span>
		@ChildContent
    </span>
    <br />
    <br />
    <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("https://github.com/Aptivi"))"><span class="fa-brands fa-github" aria-hidden="true" /></button>
    <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("https://aptivi.gitbook.io/"))"><span class="fa-solid fa-book" aria-hidden="true" /></button>
    <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("https://mastodon.social/@official_aptivi"))"><span class="fa-brands fa-mastodon" aria-hidden="true" /></button>
    <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("https://discord.com/invite/4CtqSNeEZW"))"><span class="fa-brands fa-discord" aria-hidden="true" /></button>
    <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("https://x.com/OfficialAptivi"))"><span class="fa-brands fa-x-twitter" aria-hidden="true" /></button>
    <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("https://bsky.app/profile/aptivi.bsky.social"))"><span class="fa-brands fa-bluesky" aria-hidden="true" /></button>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
